/* @blue-primary: rgb(41,182,246);
@blue-secondary: rgb(44,134,210);
@grey-accent: rgb(130, 130, 130);
@grey: rgb(236, 236, 236); */

.stepper-panel {
  padding: 20px;
}

.stepper-item .circle {
  width: 40px;
  height: 40px;
  float: left;
  color: white;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.stepper-item .circle:hover {
  cursor: pointer;
  background-color: rgb(41, 182, 246)
}

.stepper-item .left-line {
  border-left: 1px;
  color: rgb(236, 236, 236);
}
