.selected
  background-color: #CFD8DC !important;
  color: white

.heroes
  list-style-type none
  padding 0px
  cursor pointer
  .hero
    background-color #cfd8dc
    border-radius 4px
    width 200px
    margin-bottom 5px
    padding 5px 5px 5px 0px
    .badge
      color white
      padding 5px
      background-color #336699
      border-radius 4px 0px 0px 4px
    &:hover
      background-color #888888
      color white
