/* add Song tab*/
#add-song-table
  border 0px

#add-song-table tr > :first-child
  border-left 0px

#add-song-table tr > :last-child
  border-right 0px

.table > thead:first-child > tr:first-child > th
  border-bottom 0px
  border-top-left-radius 0px
  border-top-right-radius 0px

  .table
     background-color #0f0f0f
